@charset "UTF-8";

/* @import url(https://cdn.staticfile.org/mui/3.7.1/css/mui.min.css); */
/* @import url(https://cdn.jsdelivr.net/gh/masx200/masx200.github.io@4.2.2/src/assetscss/github-6556dfa9be535e551ffffaadfecdad99.min.css);
@import url(https://cdn.jsdelivr.net/gh/masx200/masx200.github.io@4.2.2/src/assetscss/github-frameworks-a2fba223d5af91496cac70d4ec3624df.min.css); */

/* @import url(https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css); */
body,
html {
    scroll-behavior: smooth;
}
.App-header {
    background-color: #fff;
}
nav {
    width: 100%;
}
.图片列表200 img {
    min-height: 150px;
    min-width: 150px;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 200px;
}
.my导航栏 .navbar-nav li a {
    margin-left: 2px;
    margin-right: 2px;
}
h1,
h2 {
    font-weight: 400;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 10px;
}
* {
    -webkit-user-select: text;
    user-select: text;
}
.example {
    color: red;
}
body {
    padding: 0;
}
* {
    font-family: "Microsoft Yahei,PingFangSC-Regular,arial, verdana, sans-serif";
}
.my导航栏 {
    overflow: auto;
    max-height: 100%;
    padding-right: 0;
    padding-left: 0;
}
.App {
    text-align: center;
}
.App-logo {
    animation: App-logo-spin 20s linear infinite;
    height: 40vmin;
    pointer-events: none;
}
.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
.App-link {
    color: #61dafb;
}
.jdahd button {
    border-color: #000;
}
.jdahd * {
    text-align: center;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
}
.jdahd body {
    position: relative;
    height: 100vh;
    text-align: center;
}
.jdahd h1 {
    text-align: center;
    margin: 20px 0;
}
.jdahd textarea {
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 15px 10px;
    font-size: 14px;
    outline: none;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.jdahd input[type="button"] {
    margin: 0 auto;
    position: relative;
    vertical-align: top;
    width: 150px;
    height: 60px;
    padding: 0;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2980b9;
    border: 0;
    border-bottom: 2px solid #2475ab;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #2475ab;
    box-shadow: inset 0 -2px #2475ab;
}
.jdahd input:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.jdahd input:-ms-input-placeholder,
.jdahd textarea:-ms-input-placeholder {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
.jdahd input::-moz-placeholder,
.jdahd textarea::-moz-placeholder {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
.jdahd input::-webkit-input-placeholder,
.jdahd textarea::-webkit-input-placeholder {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    box-shadow: none;
    -webkit-appearance: none;
}
.jdahd footer {
    width: calc(100% - 40px);
    position: absolute;
    bottom: 20px;
}
.jdahd footer > p a {
    color: #2980b9;
    text-decoration: none;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New,
        monospace;
}
.jdahd .my导航栏 {
    overflow: auto;
    max-height: 100%;
    padding-right: 0;
    padding-left: 0;
}
.jdahd *,
.jdahd body {
    text-align: center;
}
.jdahd h1 {
    font-weight: 300;
    font-size: 40px;
}
.jdahd h3 {
    font-weight: 700;
}
.jdahd .actions,
.jdahd li,
.jdahd p,
.jdahd textarea {
    width: 100%;
}
.jdahd textarea {
    border-color: #000;
    display: block;
    min-height: 250px;
    margin: 1em 0;
}
.jdahd ul.pre li {
    white-space: pre;
}
.jdahd .checkbox {
    display: inline-block;
}
.jdahd .actions a {
    float: right;
}
.jdahd .actions {
    clear: both;
}
* {
    font-family: Microsoft Yahei;
    /* text-align: center; */
}
#nav {
    float: center;
}
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-top: 0;
}
.App-logo {
    animation: App-logo-spin 20s linear infinite;
    height: 40vmin;
    pointer-events: none;
}
@keyframes App-logo-spin {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}
* {
    -webkit-user-select: text !important;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text !important;
}
body,
html {
    scroll-behavior: smooth;
}
* {
    font-family: Microsoft Yahei, Helvetica, Tahoma, Arial, PingFang SC,
        Hiragino Sans GB, Heiti SC, MicrosoftYaHei, WenQuanYi Micro Hei,
        sans-serif !important;
}
