p {
    color: #000 !important;
}
pre {
    text-align: left !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
div,
input {
    text-align: center;
}
* {
    transition-property: all;
    transition-duration: 0s !important;
    transition-timing-function: linear;
    transition-delay: 0s;
}
