name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 13.x]

    steps:
    - uses: actions/checkout@master
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@master
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install -g yarn
    - run: yarn install
    - run: yarn run build

    - run: now --token 2vrtRctFUVK9pNcsR1Seee5O
    - run: now --prod --token 2vrtRctFUVK9pNcsR1Seee5O
    - run: cp -f ./dist/* ./public/ 
      env:
        CI: true
